.catalog {
    padding-bottom: 80px;
    display: flex;
    align-items: center;
    &__tabs {
        display: flex;
        justify-content: center;
        align-items: center;
        list-style-type: none;
        margin-top: 46px;
        margin-bottom: 0;
        padding-left: 0;
        margin-bottom: 57px;

        
    }

    &__tab {
        width: 220px;
        height: 50px;
        border: 2px solid #d0d0d0;
        text-align: center;
        color: #6b6b6b;
        line-height: 48px;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 18px;
        margin: 0 5px;
        transform: skewX(-25deg);
        cursor: pointer;
        transition: 0.5s;
        div {
            transform: skewX(25deg);
        }
        &_active {
            color: #fff;
            background-color: $main-color;
            border: none;
        }
        &:hover {
            box-shadow: 3px 3px 10px $main-color;
            border: none;
        }
    }

    &__content {
        display: none;
        justify-content: space-between;
        flex-wrap: wrap;
        &_active {
            display: flex;
        }
    }

    &-item {
        width: 300px;
        min-height: 440px;
        border: 2px solid #e8e8e8;
        padding: 20px 20px 26px 20px;
        margin: 0 8px ;
        overflow: hidden;
        margin-bottom: 20px;

        &__img {
            height: 200px;
            display: block;
            margin: 0 auto;
            max-width: 100%;
        }

        &__subtitle {
            font-weight: 700;
            font-size: 16px;
            color: rgb(13, 13, 13);
            text-align: center;
            margin-top: 15px;
        }

        &__descr {
            font-size: 14px;
            font-weight: 300;
            text-align: center;
            color: rgb(13, 13, 13);
            margin-top: 15px;
        }

        &__link {
            font-weight: 500;
            font-size: 14px;
            text-transform: uppercase;
            text-decoration: underline;
            color: $main-color;
            margin: 0 auto;
            display: block;
            width: 118px;
            text-align: center;
            margin-top: 10px;
            &:hover {
                color: $main-color;
            }
        }
        hr {
            background-color: #e8e8e8;
            margin-top: 19px;
            margin-bottom: 21px;
            border-bottom: none;
        }
        &__footer {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &__old-price {
            font-weight: 300;
            font-size: 14px;
            color: #555555;
            text-decoration: line-through;
        }
        &__new-price {
            font-weight: 700;
            font-size: 20px;
            color: #050505;
            margin-top: 2px;
        }

        &__wrapper {
            display: flex;
            width: calc(200% + 40px);
        }
        &__content {
            width: 50%;
            transform: translateX(-100%);
            margin-right: 0px;
            transition: all 0.5s;
            &_active {
                transform: translateX(0%);
                margin-right: 20px;
            }
        }
        &__list {
            width: 50%;
            list-style-type: none;
            position: relative;
            padding-left: 19px;
            margin-bottom: 0;
            margin-left: 20px;
            padding-right: 20px;
            transform: translateX(0%);
            transition: all 0.5s;
            &_active {
                margin-left: 0;
                transform: translateX(-100%);
            }
            li {
                margin-bottom: 20px;
                position: relative;
                font-weight: 300;
                font-size: 14px;
                color: #555555;
                &::after {
                    content: '';
                    position: absolute;
                    top: 7px;
                    left: -9px;
                    width: 5px;
                    height: 5px;
                    background-color: $main-color;
                }
            }
            &__back {
                position: absolute;
                bottom: 0;
                left: 50%;
                transform: translateX(calc(-50% - 19px));
                font-weight: 500;
                font-size: 14px;
                text-transform: uppercase;
                text-decoration: underline;
                color: $main-color;
                &:hover {
                    color: $main-color;
                }
            }
        }
    }
}